@{
    ViewBag.Title = "Djikstra";
}
<div class="col-md-8">
    <p> </p>
<p>Najkraći put je: </p>
    <p>
        @ViewBag.shortestPath
    </p>
</div>

<div class="container">
    <img src="~/Content/grafNASP.jpg" />
</div>
